body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

header {
  background-color: blanchedalmond;
  grid-area: header;
  text-align: center;
}

aside {
  background-color: cadetblue;
  color: white;
  grid-area: aside;
}

main {
  background-color: beige;
  grid-area: main;
  /* height: 900px; */
}

footer {
  background-color: darkblue;
  color: white;
  grid-area: footer;
}
